ETL.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "02a3b399-6ca1-b0e4-406d-323a2597cc57",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Daily reddit data",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Lookup for NYSE_holiday').output.firstRow.NYSE_holiday, false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "be004021-947d-9105-4fde-b3c545c1d2ea",
                "workspaceId": "00000000-0000-0000-0000-000000000000"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Daily stock data",
              "dependsOn": []
            },
            {
              "type": "RefreshDataflow",
              "typeProperties": {
                "dataflowId": "9d60242a-a826-89bc-4bbc-1d872a35ee35",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "notifyOption": "NoNotification",
                "dataflowType": "DataflowFabric"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Daily stock data updata",
              "dependsOn": [
                {
                  "activity": "Daily stock data",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": []
        },
        "name": "If Condition1",
        "dependsOn": [
          {
            "activity": "Lookup for NYSE_holiday",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "select NYSE_holiday from NYSE_calendar where Date = CAST(GETDATE() as DATE)",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "connectionSettings": {
              "name": "StagingWarehouseForDataflows_20251027060019",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "86f4be69-b836-4ab2-baef-d816b17c8130",
                  "endpoint": "zhmk23ikgfteve2k3efvtgnvwa-rrzfn6upj3yezmdlcmeyenr7ki.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "fa56728c-4e8f-4cf0-b06b-130982363f52"
                },
                "externalReferences": {
                  "connection": "54a50e86-3658-476d-ab0b-67751e06b55d"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup for NYSE_holiday",
        "dependsOn": [
          {
            "activity": "Daily reddit data",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "a8977fce-8b84-ae29-47ce-9024fb5d2e19",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "AWS RDS Sync",
        "dependsOn": [
          {
            "activity": "If Condition1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}