ETL.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "02a3b399-6ca1-b0e4-406d-323a2597cc57",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Notebook1",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Lookup1').output.firstRow.NYSE_holiday, false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "be004021-947d-9105-4fde-b3c545c1d2ea",
                "workspaceId": "00000000-0000-0000-0000-000000000000"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Notebook2",
              "dependsOn": []
            },
            {
              "type": "RefreshDataflow",
              "typeProperties": {
                "dataflowId": "9d60242a-a826-89bc-4bbc-1d872a35ee35",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "notifyOption": "NoNotification",
                "dataflowType": "DataflowFabric"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Dataflow1",
              "dependsOn": [
                {
                  "activity": "Notebook2",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": []
        },
        "name": "If Condition1",
        "dependsOn": [
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "select NYSE_holiday from NYSE_calendar where Date = CAST(GETDATE() as DATE)",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "StagingWarehouseForDataflows_20250828103213",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "72f5af5b-6cd3-4840-bd61-9b708004f975",
                  "endpoint": "zhmk23ikgfteve2k3efvtgnvwa-qmznvakgerrulh4mc2bjoaezge.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "81da3283-2446-4563-9f8c-168297009931"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": [
          {
            "activity": "Notebook1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "a8977fce-8b84-ae29-47ce-9024fb5d2e19",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Notebook3",
        "dependsOn": [
          {
            "activity": "If Condition1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}