Daily ETL.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "02a3b399-6ca1-b0e4-406d-323a2597cc57",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Daily Reddit data ETL",
        "description": "To load the daily reddit data and save it to LH",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Lookup1').output.firstRow.NYSE_holiday, False)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "da6af546-5320-9e8b-48be-708bb6e9f6f1",
                "workspaceId": "00000000-0000-0000-0000-000000000000"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Daily stock data ETL",
              "description": "To get the daily stock data and save it to temp LH table",
              "dependsOn": []
            },
            {
              "type": "RefreshDataflow",
              "typeProperties": {
                "dataflowId": "2bb0c32f-4dc7-40bf-bb73-1f0d11ec7377",
                "workspaceId": "c1bac311-bdf8-44ad-907a-6a2f4314508a",
                "notifyOption": "NoNotification"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Filter latest stock data",
              "description": "To filter the latest stock data and add the latest data to the WH table",
              "dependsOn": [
                {
                  "activity": "Daily stock data ETL",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": []
        },
        "name": "If Condition1",
        "dependsOn": [
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "select NYSE_holiday from NYSE_calendar where date_value = CAST(GETDATE() as DATE)",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "Stock_data",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "b5992a81-df73-43a3-bc93-57a46b5c8c08",
                  "endpoint": "zhmk23ikgfteve2k3efvtgnvwa-chb3vqpyxwwujed2nixugfcqri.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "c1bac311-bdf8-44ad-907a-6a2f4314508a"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": [
          {
            "activity": "Daily Reddit data ETL",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}